@mixin items($h,$pad,$bgc:white,$set_bgc:false){
  @if ($set_bgc){background-color: $bgc;} 
  height: $h;
  padding: $pad;
}

@mixin side($w, $f: left){
  width: $w;
  float: $f;
}

@mixin text($fs, $mb:10px, $c:white, $set_mb:false, $set_c:false){
  font-size: $fs;
  @if($set_mb){margin-bottom: $mb;}
  @if($set_c){color: $c;}
}

@mixin flex_box{
  display: flex;
  justify-content: space-between;
}