%form.new-message
  .input-box
    %input.input-box_text{placeholder:"type a message", type:"text",}
    %label.input-box_image
      %i.fa.fa-image
      %input.input-box_image_file{type:"file"}
  %input.submit-btn{type:"submit", name:"commit",value:"Send"}