%form.new-message
  .input-box
    %input.input-box_text{placeholder:"type a message", type:"text",}
    %label.input-box_image
      %i.fa.fa-image
      %input.input-box_image_file{type:"file"}
  %input.submit-btn{type:"submit", name:"commit",value:"Send"}

  -# form
  -#     = form_for [@group, @message] do |f|
  -#       = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  -#       .form__mask
  -#         = f.label :image, class: 'form__mask__image' do
  -#           = fa_icon 'picture-o', class: 'icon'
  -#           = f.file_field :image, class: 'hidden'
  -#       = f.submit 'Send', class: 'form__submit'