.main-header_left-box
  .main-header_left-box_group-name
    = group.name
  .main-header_left-box_member-header
    Member :  
    - group.users.each do |user|  
      = user.name
%a.edit{ href: '' }
  .main-header_edit-btn
    Edit