.side-header-box
  %p.side-header-box_name
    name
  %ul.side-header-box_menu
    %li.side-header-box_menu_new-group
      %a{ href: '' }
        %i.fa.fa-edit
    %li.side-header-box_menu_edit-user
      %a{ href: '' }
        %i.fa.fa-cog